<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlyFlans</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body style="background-color:#bf7c7c;">
    <h1 style="color:white; background-color: black;"> MI PAGINA ONLYFLANS</h1>
    <h2>{{message}}</h2>
    <div class="logo">
      <img src="{% static 'img/image.png' %}" />
    </div>
  </body>
</html>
