{% extends 'base.html' %} 

{% block content %}
<div>
  <h1 style="text-align: center;">BIENVENIDOS A ONLYFLANS</h1>
  <div class="container" id="home">
    <div>
      <h2>Nuestros Productos:</h2>
      <h4 style="background-color:darkgray; text-align: center;">Elige el producto que prefieras...</h4>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for p in flanes_publicos %}
      <div class="col-6 col-md-3">
        <div class="card mb-4" styles="" id="producto">
          <img src="{{ p.image_url }}" class="card-img-top" id="card_img_top" alt="..." height="180px">
          <div class="card-body" style="background-color:rgb(197, 186, 116);">
            <h5 class="card-title">
              {{ p.name }}
            </h5>
            <p class="card-text">
              {{ p.description | slice:":50" }}{% if p.description|length > 50 %}...{% endif %}
            </p>
          </div>
        </div>
      </div>
      
    {% endfor %}

  </div>
</div>
{% endblock %}


